<head>
  <style>
    .borderless tr, .borderless td, .borderless th {
      border: none !important;
    }
  </style>
  <%= stylesheet_link_tag params[:controller] %>
</head>
<h1>Mutation Review</h1>
<div class="outer">
  <div class="floatcontainer">
    <div class="inner">
      <select name="city_id" id="city_id">
        <option value="1">benign</option>
        <option value="2">likely benign</option>
        <option value="3">uncertain significance</option>
        <option value="4">likely pathogenic</option>
        <option value="5">pathogenic</option>
      </select>
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </div>
</div>

<p>
<strong>
  Position:
</strong>
chr<%= @pos %>
</p>

<p>
<strong>
  Ref:
</strong>
<%= @ref %>
</p>

<p>
<strong>
  Genotype:
</strong>
<%= @genotype %>
</p>

<br>
<%= render_async get_review_path(:chr => @pos, :snp => @snp_id, :ref => @ref, :genotype => @genotype, :hgvs => @annotation) do %>
  <h1>Fetching variant's information from other websites...</h1>
<% end %>
<br>
<%= link_to 'Back', :back %>
