<head>
  <style>
    .borderless tr, .borderless td, .borderless th {
      border: none !important;
    }
  </style>
  <%= stylesheet_link_tag params[:controller] %>
</head>
<h1>Mutation Review</h1>
<div class="outer">
  <div class="floatcontainer">
    <div class="inner">
      <%= form_tag(annotations_new_path(:pos => @pos, :ref => @ref, :genotype => @genotype, :hgvs => @annotation, :gene => @gene_id, :mut_pos_id => @mut_pos_id, :vcf_id => @vcf_id), :method => "post", id: "search-form") do %>
      <select class="dropdown" name="sig" id="class_id">
        <option value="1">benign</option>
        <option value="2">likely benign</option>
        <option value="3">uncertain significance</option>
        <option value="4">likely pathogenic</option>
        <option value="5">pathogenic</option>
      </select>
      <%= link_to '<button type="submit" class="btn btn-dark dropdown">Submit</button>'.html_safe %>
<% end %>
    </div>
  </div>
</div>

<p>
<strong>
  Position:
</strong>
chr<%= @pos %>
</p>

<p>
<strong>
  Ref:
</strong>
<%= @ref %>
</p>

<p>
<strong>
  Genotype:
</strong>
<%= @genotype %>
</p>

<br>
<%= render_async get_review_path(:chr => @pos, :snp => @snp_id, :ref => @ref, :genotype => @genotype, :hgvs => @annotationm, :gene_id => @gene_id, :mut_pos_id => @mut_pos_id, :vcf_id => @vcf_id) do %>
  <h1>Fetching variant's information from other websites...</h1>
  <div class="loader"></div>
<% end %>
<br>
<%= link_to 'Back', :back %>
