<head>
  <style>
    .borderless tr, .borderless td, .borderless th {
      border: none !important;
    }
  </style>
  <%= stylesheet_link_tag params[:controller] %>
</head>
<h1>Mutation Review</h1>
<div class="outer">
  <div class="floatcontainer">
    <div class="inner">
      <%= form_tag(annotations_new_path(:pos => @pos, :ref => @ref, :genotype => @genotype, :hgvs => @hgvs, :gene => @gene_id, :mut_pos_id => @mut_pos_ids, :p_vcf_id => @p_vcf_id), :method => "post", id: "search-form") do %>
        <select class="dropdown" name="sig" id="class_id">
          <option value="1">benign</option>
          <option value="2">likely benign</option>
          <option value="3">uncertain significance</option>
          <option value="4">likely pathogenic</option>
          <option value="5">pathogenic</option>
        </select>
        <%= link_to '<button type="submit" class="btn btn-dark dropdown">Submit</button>'.html_safe %>
      <% end %>
    </div>
  </div>
</div>

<p>
<strong>
  Position:
</strong>
chr<%= @pos %>
</p>

<p>
<strong>
  Ref:
</strong>
<%= @ref %>
</p>

<p>
<strong>
  Genotype:
</strong>
<%= @genotype %>
</p>

<p>
<strong>
  Gene:
</strong>
<a href= <%= 'http://www.genecards.org/cgi-bin/carddisp.pl?gene=' + @entrez_id.to_s %> target="_blank"><%= @gene_name %></a>
</p>

<p>
<strong>
  OMIM:
</strong>
<a href= <%= "https://www.omim.org/search/?index=entry&start=1&limit=10&sort=score+desc%2C+prefix_sort+desc&search=" + @gene_name %> target="_blank"><%= @gene_name %></a>
</p>

<p>
<strong>
  CADD score:
</strong>
<%= @cadd %>
</p>

<p>
<strong>
  Classification:
</strong>
<img src=<%= '/assets/star_' +  @classification.to_s + '.png' %> width=100 height=20 >
</p>
<p>
<li><a href="#C0">Annotations</a></li>
<li><a href="#C1">dbSNP</a></li>
<li><a href="#C2">Ensembl</a></li>
<li><a href="#C3">ExAC</a></li>
<li><a href="#C4">gnomAD</a></li>
<li><a href="#C5">Mutation Taster</a></li>
</p>

<p>
<h2 id="C0">Annotations:</h2>
<br>
<% if @annotations.empty? %>
  No annotation available for this mutation!
<% else %>
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Clinical Significance</th>
        <th>Review Status</th>
        <th>Submission</th>
        <th>Link</th>
      </tr>
    </thead>

    <tbody>
      <% @annotations.each do |ann| %>
        <tr>
          <td><%= link_to ann.id, ann %></td>
          <td><%= ann.user.username %></td>
          <td><%= ann.clinical_significance.name %></td>
          <% if ann.clinvar_id %>
            <td><%= ann.review_status.name %></td>
            <td><%= ann.scv %></td>
            <td><a href= <%= "https://www.ncbi.nlm.nih.gov/clinvar/variation/" + ann.clinvar_id.to_s %> target="_blank"> Open in ClinVar</a></td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</p>
<br>
<%= render_async get_review_path(:chr => @pos, :snp => @snp_id, :ref => @ref, :genotype => @genotype, :hgvs => @annotationm, :gene_id => @gene_id, :mut_pos_id => @mut_pos_id, :p_vcf_id => @p_vcf_id) do %>
  <h1>Fetching variant's information from external websites...</h1>
  <div class="loader"></div>
<% end %>
<br>
<%= link_to 'Back', :back %>
