<h1>GfH 2019</h1>
<p>Please use the following patient data for education session in GfH 2019.</p>
<h3>Patient 1:</h3>
<br>
<b>Clinical Notes:</b>
<p>
10 months old boy with muscular hypotonia, hypoplastic
left heart, and short stature. He is not able to sit without
support. Facial dysmorphism consists of long palpebral
fissures, low set ears, small chin. Recurrent otitis media.
</p>
<%= link_to "Patient #1 VCF", "/gfh/1.vcf.gz" %>
<h3>Patient 2:</h3>
<br>
<b>Clinical Notes:</b>
<p>The proposita is a 13-year-old girl and first child of
healthy, non-consanguineous parents. Her psychomotor
development was considerably delayed. Epilepsy started
as early as in her first year of life which responded well to
treatment with valproic acid. Serum alkaline phosphatase
was significantly and constantly elevated. Dysmorphic
facial features include widely spaced eyes with an upward
slant of palpebral fissures, a broad nasal bridge and tip,
and a tented upper lip. Her hands and feet show bilateral
brachytelephalangy including small nails. Radiographs of
her left hand and left foot disclosed abnormally short
distal phalanges of fingers and toes, respectively.</p>
<%= link_to "Patient #2 VCF", "/gfh/2.vcf.gz" %>
<h3>Patient 3:</h3>
<br>
<b>Clinical Notes:</b>
<p>3 yo boy with global developmental delay and nasal
speech, autistic features, muscular hypotonia and tall
stature. High arched palate, long fingers and toes. A
brother and maternal cousin were also affected.</p>
<%= link_to "Patient #3 VCF", "/gfh/3.vcf.gz" %>
<h3>Patient 4:</h3>
<%= image_tag("/gfh/4.bmp", :size => "210x282") %>
<br>
<b>Clinical Notes:</b>
<p>Second child of healthy, non-consanguineous parents with a non-contributory family
history. During pregnancy the mother had dental treatment, and polyhydramnios was
noted. The patient was born at 41 weeks gestation with a weight of 2900 g (−1.6 SD) and
a length of 49 cm (−1.5 SD). At the age of 3 days she had pneumonia. She showed
delayed milestones with unstable gait and single words at age 3 years 7 months. Dental
eruption started at 5 months and subsequently irregularly shaped and discoloured teeth
were noted, leading to the suspicion of dentin hypoplasia. At least two deciduous teeth
were lacking and second dentition was delayed. Furthermore, sparse hair and a
preauricular pit were present. Transient conductive hearing loss occurred due to
recurrent otitis media and was temporarily treated with tympanostomy tubes and
hearing aids. X-rays at the age of 6 years showed brachymesophalangy of fingers II and
V, a cone shaped epiphysis at the first ray of the right foot, and medial clefts

in two vertebral bodies. During childhood and youth, behavioural problems with short
attention span, hyperactivity, compulsive behaviour, sleeping difficulties, and lack of
emotional detachment were reported. Menarche started at 16 years, and subsequent
oligomenorrhoea has been noted. Ophthalmologic examination showed reduced vision,
possibly due to retinal dystrophy. Seizures occurred at the age of 20 years. She was last
reviewed aged 22, when her height was 163 cm (0.3 SD). She had mild obesity with a
weight of 74.9 kg (BMI 28.2), and her head circumference was 56.5 cm (1.4 SD). Her

expressive speech was limited to about 10 single words, but shhad better perceptive
abilities and used signs. Facial dysmorphism included bitemporal narrowing of the
forehead, a prominent supraorbital region with highly arched eyebrows and mild

synophrys, long shaped ears with prominent earlobes and preauricular pits, a short nose
with broad and bulbous nasal tip, a thin upper lip, and a dental prosthesis because of
hypodontia. The fingers were tapering with pronounced brachyclinodactyly of finger V,
lacking distal intradigital flexion creases, and nonfixed flexion deformities, particularly of
finger II. The toes were broad and short with hypoplastic nails. A single palmar crease

and linear skin pigmentation at the upper legs and axillar regions were noted.</p>
<%= link_to "Patient #4 VCF", "/gfh/4.vcf.gz" %>
<h3>Patient 5:</h3>
<%= image_tag("/gfh/5.bmp", :size => "210x282") %>
<br>
<b>Clinical Notes:</b>
<p>A 3yo boy was born with normal measurements and
developed post natal microcephaly.

He was developmentally retarded and presented with
hypertelorism, anteverted nares, full lower lips,

and tapering fingers.</p>
<%= link_to "Patient #5 VCF", "/gfh/5.vcf.gz" %>
<h3>Patient 6:</h3>
<%= image_tag("/gfh/6.bmp", :size => "210x282") %>
<br>
<b>Clinical Notes:</b>
<p>9 year old boy short stature, corneal clouding, joint
stiffening, hepatosplenomegaly and umbilical
hernia.Radiograph of left hand showed dysostosis
multiplex. His psychomotor development was normal. The
first 3 years of life he was completely unaffected.
Ophthalmological examination revealed corneal clouding
and echo showed thickening of the mitral valve.</p>
<%= link_to "Patient #6 VCF", "/gfh/6.vcf.gz" %>
