<h1>New Result Figure</h1>


<%= form_tag({:action => 'create', :patient => @result_figure}, :multipart => true) do %>
  <% if @result_figure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result_figure.errors.count, "error") %> prohibited this figure from being saved:</h2>

      <ul>
        <% @result_figure.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :file %>
    <%= file_field_tag :file,  accept: 'image/png,image/jpe', :required => true%>
  </div>
  <div class="actions">
    <%= submit_tag "Upload" %>
  </div>
<% end %>

<%= link_to 'Back', result_figures_path %>
