<%# VCF-File Index %>

  <div class="headlines">
    <h2><span>My VCF Files</span></h2>
    <!-- a href="#" class="show-filter">show filter</a -->
  </div>

  </table>

  <br />
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Submitter</th>
        <th>Modified date</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @vcf_files.each do |vcf| %>
        <tr>
          <td><%= vcf.name %></td>
          <td><%= vcf.user.first_name + ' ' + vcf.user.last_name %></td>
          <td><%= vcf.updated_at %></td>
          <td><%= link_to 'Show', vcf %></td>
          <td><%= link_to 'Delete', vcf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div align="center">
    <%= link_to 'New upload', new_vcf_file_path, :class => "btn-default"  %>
  </div>

  <br />
