<% @new_jqui = true %>

<%= content_for :head  do %>
<script type="text/javascript">
$(document).ready(function() {
  $.ui.autocomplete.prototype._renderItem = function (ul, item) {
    item.label = item.label.replace(new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + $.ui.autocomplete.escapeRegex(this.term) + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong><font color=blue>$1</font></strong>");
    return $("<li></li>")
    .data("item.autocomplete", item)
    .append("<a>" + item.label + "</a>")
    .appendTo(ul);
  };

  function split( val ) {
    return val.split( /,\s*/ );
  }
  function extractLast( term ) {
    return split( term ).pop();
  }

  $("#username")
    // don't navigate away from the field on tab when selecting an item
//    .bind( "keydown", function( event ) {
//      if ( event.keyCode === $.ui.keyCode.TAB &&
//          $( this ).data( "ui-autocomplete" ).menu.active ) {
//        event.preventDefault();
//      }
//    })
    .autocomplete({
      minLength: 3,
      source: function( request, response ) {
        $.getJSON( "/users", {
          term: extractLast( request.term )
        }, response );
      },
      search: function() {
        // custom minLength
        var term = extractLast( this.value );
        if ( term.length < 3 ) {
          return false;
        }
      },
      focus: function() {
        // prevent value inserted on focus
        return false;
      },
      select: function( event, ui ) {
        var terms = split( this.value );
        // remove the current input
        terms.pop();
        // add the selected item
        terms.push( ui.item.value );
        // add placeholder to get the comma-and-space at the end
        terms.push( "\n" );
        this.value = terms.join( ", " );
        $(this).trigger("change");
        return false;
      }
    });
});
</script>
<style>
  .ui-autocomplete-loading {
    background: white url('/public/images/ui-anim_basic_16x16.gif') right center no-repeat;
  }
</style>
<% end %>

  <div class="box-content">

<% if session[:basespace].present? -%>
Uploading files to GeneTalk is currently disabled, because
you are using GeneTalk from an Illumina BaseSpace session.
To upload files to GeneTalk, <%= link_to 'close BaseSpace session', basespace_logout_path %>.
<% else -%>

<%= form_tag({:action => 'create'}, :multipart => true, :class => "formBox") do %>
<div class="form-cols" >

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<h4>File</h4>
<P>Select a VCF file or a ZIP file containing one or more VCF files. The reference should be hg19 or GRCh37.</P>
<%= file_field 'upload', 'datafile' %>

<!-- /div -->
&nbsp;<br /> 
&nbsp;<br /> 


<div class = "btn-submit">
   <%= submit_tag "Upload", :class => 'button' %>
</div>

</div>

<% end -%><%# if basespace session -%>

<% end %>
