<%# VCF-File Show %>
<% @new_jqui = true %>
<% content_for :head do %>
<!-- script type="text/javascript" src="/public/ng/angular.min.js" ></script -->

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>

<%= javascript_include_tag  "/assets/javascripts/dropit" %>
<%= javascript_include_tag  "/assets/javascripts/ui-grid.min" %>
<%= stylesheet_link_tag 'ui-grid.min.css' %>
<%= stylesheet_link_tag 'dropit.css' %>
<script type="text/javascript">
function chtoi(x){
  switch(x){
    case 'x':case 'X': return 24;
    case 'y':case 'Y': return 25;
    case 'm':case 'M': return 26;
    default: return parseInt(x, 10);
  }
}
function bla(x){
  return x+x;
}
// var app = angular.module('app', ['ngTouch', 'ui.grid', 'ui.grid.cellNav', 'ui.grid.edit', 'ui.grid.resizeColumns', 'ui.grid.pinning', 'ui.grid.selection', 'ui.grid.moveColumns']);
var app = angular.module('app', ['ngTouch', 'ui.grid', 'ui.grid.cellNav', 'ui.grid.resizeColumns', 'ui.grid.selection', 'ui.grid.moveColumns']);

app.filter('unsafe', function($sce) { return function(input) { return $sce.trustAsHtml(input); };});
app.filter('rs_filter', function ($sce) {
  return function (input) {
    rs=input.match(/^rs(\d+)/);
    if ( rs ){
      return $sce.trustAsHtml('<a href="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs='+rs[0]+'" target="_blank" class="extern">'+input+'</a>');
    } else {
      return $sce.trustAsHtml(input+' ');
    }
  };
}); 
app.filter('gene_filter', function ($sce) {
  return function (input) {
    return $sce.trustAsHtml('<a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene='+input+'" target="_blank" class="extern">'+input+'</a>')
  };
}); 
app.controller('MainCtrl',  ['$scope', '$http', '$timeout', '$interval', 'uiGridConstants', '$sce',
 function ($scope, $http, $timeout, $interval, uiGridConstants, $sce) {
  $scope.gridOptions = {
    onRegisterApi: function( gridApi ) {
      $scope.gridApi = gridApi;
    }
  };
  $scope.gridOptions.data = <%= @outdata.to_json.html_safe %>;
  $scope.gridOptions.enableColumnResizing = true;
  $scope.gridOptions.enableFiltering = true;
  $scope.gridOptions.enableGridMenu = true;
  $scope.gridOptions.showGridFooter = false;
  $scope.gridOptions.showColumnFooter = false;
  $scope.gridOptions.headerRowHeight = 200;
  $scope.gridOptions.rowIdentity = function(row) { return row.id; };
  $scope.gridOptions.getRowIdentity = function(row) { return row.id; };
 
  $scope.gridOptions.columnDefs = [
    { displayName: 'Chrom. Pos', name:'x', width:100,
      sortingAlgorithm: function(a, b) {
          var nulls = $scope.gridApi.core.sortHandleNulls(a, b);
          if( nulls !== null ) {
            return nulls;
          } else {
            aa=a.split(':');
            ba=b.split(':');
            ac=chtoi(aa[0]);
            bc=chtoi(ba[0]);
            if( ac < bc ) { return -1; }
            if( ac > bc ) { return 1;  }
            ap=parseInt(aa[1],10);
            bp=parseInt(ba[1],10);
            if( ap < bp ) { return -1; }
            if( ap > bp ) { return 1;  }
            return 0;
          }
      }
    },
    { displayName: 'ID',  name:'i', width:150,
      cellTemplate: '<div class="ui-grid-cell-contents"><span ng-bind-html=\"COL_FIELD | rs_filter\"></span></div>'
    },
    { displayName: 'Gene', name:'ge', width:100,
      cellTemplate: '<div class="ui-grid-cell-contents"><span ng-bind-html=\"COL_FIELD | gene_filter\"></span></div>' 
    },
    { displayName: 'Ref', name:'r', width:50, displaySubTitle: 'Foo' },
  <% @indiv_from.upto( @indiv_to ) do |i| -%>
    { displayName: '<%= @name_indiv[i] %>', name: 's[<%= i %>].g', width:150,
      cellTemplate: '<div class="ui-grid-cell-contents" title="{{row.entity.s[<%= i %>].f}}"><span>{{COL_FIELD}}</span></div>',
      headerCellTemplate:"<div ng-class=\"{ 'sortable': sortable }\"><div class=\"ui-grid-cell-contents\" col-index=\"renderIndex\"><span><%#= @name_indiv[i] %>Genotype</span> <span ui-grid-visible=\"col.sort.direction\" ng-class=\"{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }\">&nbsp;</span></div><div class=\"ui-grid-column-menu-button\" ng-if=\"grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false\" ng-click=\"toggleMenu($event)\" ng-class=\"{'ui-grid-column-menu-button-last-col': isLastCol}\"><i class=\"ui-grid-icon-angle-down\">&nbsp;</i></div><div ng-if=\"filterable\" class=\"ui-grid-filter-container\" ng-repeat=\"colFilter in col.filters\"><input type=\"text\" class=\"ui-grid-filter-input\" ng-model=\"colFilter.term\" ng-attr-placeholder=\"{{colFilter.placeholder || ''}}\"><div class=\"ui-grid-filter-button\" ng-click=\"colFilter.term = null\"><i class=\"ui-grid-icon-cancel\" ng-show=\"!!colFilter.term\">&nbsp;</i></div></div></div>"
    },
    { displayName: 'Reads', name: 's[<%= i %>].r', width:100,
      headerCellTemplate:"<div ng-class=\"{ 'sortable': sortable }\"><div class=\"ui-grid-cell-contents\" col-index=\"renderIndex\"><span title=\"Reads supporting reference allele/alternate allele\"><%#= @name_indiv[i] %>Reads</span> <span ui-grid-visible=\"col.sort.direction\" ng-class=\"{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }\">&nbsp;</span></div><div class=\"ui-grid-column-menu-button\" ng-if=\"grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false\" ng-click=\"toggleMenu($event)\" ng-class=\"{'ui-grid-column-menu-button-last-col': isLastCol}\"><i class=\"ui-grid-icon-angle-down\">&nbsp;</i></div><div ng-if=\"filterable\" class=\"ui-grid-filter-container\" ng-repeat=\"colFilter in col.filters\"><input type=\"text\" class=\"ui-grid-filter-input\" ng-model=\"colFilter.term\" ng-attr-placeholder=\"{{colFilter.placeholder || ''}}\"><div class=\"ui-grid-filter-button\" ng-click=\"colFilter.term = null\"><i class=\"ui-grid-icon-cancel\" ng-show=\"!!colFilter.term\">&nbsp;</i></div></div></div>"
    },
    /*{ displayName: 'P-Value', name: 's[<%= i %>].pp', width:100,
      headerCellTemplate:"<div ng-class=\"{ 'sortable': sortable }\"><div class=\"ui-grid-cell-contents\" col-index=\"renderIndex\"><span title=\"Phenomizer p-value\"><%= @name_indiv[i] %><br/>P-Value</span> <span ui-grid-visible=\"col.sort.direction\" ng-class=\"{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }\">&nbsp;</span></div><div class=\"ui-grid-column-menu-button\" ng-if=\"grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false\" ng-click=\"toggleMenu($event)\" ng-class=\"{'ui-grid-column-menu-button-last-col': isLastCol}\"><i class=\"ui-grid-icon-angle-down\">&nbsp;</i></div><div ng-if=\"filterable\" class=\"ui-grid-filter-container\" ng-repeat=\"colFilter in col.filters\"><input type=\"text\" class=\"ui-grid-filter-input\" ng-model=\"colFilter.term\" ng-attr-placeholder=\"{{colFilter.placeholder || ''}}\"><div class=\"ui-grid-filter-button\" ng-click=\"colFilter.term = null\"><i class=\"ui-grid-icon-cancel\" ng-show=\"!!colFilter.term\">&nbsp;</i></div></div></div>"
    },*/
    { displayName: 'Score'  , name: 's[<%= i %>].ps', width:100,
      headerCellTemplate:"<div ng-class=\"{ 'sortable': sortable }\"><div class=\"ui-grid-cell-contents\" col-index=\"renderIndex\"><span title=\"Phenomizer Score\"><%#= @name_indiv[i] %>Score</span> <span ui-grid-visible=\"col.sort.direction\" ng-class=\"{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }\">&nbsp;</span></div><div class=\"ui-grid-column-menu-button\" ng-if=\"grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false\" ng-click=\"toggleMenu($event)\" ng-class=\"{'ui-grid-column-menu-button-last-col': isLastCol}\"><i class=\"ui-grid-icon-angle-down\">&nbsp;</i></div><div ng-if=\"filterable\" class=\"ui-grid-filter-container\" ng-repeat=\"colFilter in col.filters\"><input type=\"text\" class=\"ui-grid-filter-input\" ng-model=\"colFilter.term\" ng-attr-placeholder=\"{{colFilter.placeholder || ''}}\"><div class=\"ui-grid-filter-button\" ng-click=\"colFilter.term = null\"><i class=\"ui-grid-icon-cancel\" ng-show=\"!!colFilter.term\">&nbsp;</i></div></div></div>"
    },
  <% end -%>
    { displayName: 'Effect/HGVS', 
      name: 'e', 
      width:150,
      cellTemplate: '<div class="ui-grid-cell-contents" title="{{row.entity.h}}"><span>{{COL_FIELD}}</span></div>' 
    }
  ];
//    { displayName: 'Med.Rel.', name: 'm' }
//    { displayName: 'Sci.Ev.', name: 's' }
}]);

$(document).ready(function() {
  $('.dropitmenu').dropit();
  $('#filtersettings').hide();
  $('#showhidefiltersettings').click( function() {
    $('#filtersettings').toggle( 'fast', 'swing' );
    $('#showhidefiltersettingsoff').toggle();
    $('#showhidefiltersettingson').toggle();
  });
  $('#pedsettings').hide();
  $('#showhidepedsettings').click( function() {
    $('#pedsettings').toggle( 'fast', 'swing' );
    $('#showhidepedsettingsoff').toggle();
    $('#showhidepedsettingson').toggle();
  });
  $('#hposettings').hide();
  $('#showhidehposettings').click( function() {
    $('#hposettings').toggle( 'fast', 'swing' );
    $('#showhidehposettingsoff').toggle();
    $('#showhidehposettingson').toggle();
  });
});
</script>    

<style type="text/css">
.grid {
  width: 1200px;
  height: 600px;
}
</style>
<% end %>
<%=  heading_block 'View VCF' do %>

<% @ped = nil#@vcf_file.ped_array -%>
<% @sample_ids = @vcf_file.sample_links_array -%>

<div class="cols cols1v2">
  <div class="col1">
    <h4>File: <%= @vcf_file.name%></h4>
 <% if @nr_indiv > 0 %> 
    <h5>Sample name: <%= @name_indiv[@nr_indiv] || '' %></h5>
 <% end -%><%# else if nr_indiv %>
</div>


    <h5>Variants: <%= @vcf_file.lines unless @vcf_file.lines.blank? %></h5>

  </div>
</div>




<div ng-app="app">
    <div ng-controller="MainCtrl">
      <div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-pinning ui-grid-selection ui-grid-move-columns class="grid"></div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<% end %>
