<%# VCF-File Show %>
<% @new_jqui = true %>
<% content_for :head do %>
<!-- script type="text/javascript" src="/public/ng/angular.min.js" ></script -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
<script src="https://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="https://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="https://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>

<%= javascript_include_tag  "/assets/javascripts/dropit" %>
<%= javascript_include_tag  "/assets/javascripts/ui-grid.min" %>
<%= javascript_include_tag  "show_table" %>
<%= stylesheet_link_tag 'ui-grid.min.css' %>
<%= stylesheet_link_tag 'dropit.css' %>
<%= stylesheet_link_tag 'vcf_show.css' %>
<script type="text/javascript">
var ready;

ready = function() {
  $('.dropitmenu').dropit();
  $('#filtersettings').hide();
  $('#showhidefiltersettings').click( function() {
    $('#filtersettings').toggle( 'fast', 'swing' );
    $('#showhidefiltersettingsoff').toggle();
    $('#showhidefiltersettingson').toggle();
  });
  $('#pedsettings').hide();
  $('#showhidepedsettings').click( function() {
    $('#pedsettings').toggle( 'fast', 'swing' );
    $('#showhidepedsettingsoff').toggle();
    $('#showhidepedsettingson').toggle();
  });
  $('#hposettings').hide();
  $('#showhidehposettings').click( function() {
    $('#hposettings').toggle( 'fast', 'swing' );
    $('#showhidehposettingsoff').toggle();
    $('#showhidehposettingson').toggle();
  });
};
$(document).ready(ready);

$(document).on('page:load', ready);
</script>

<style type="text/css">
.grid {
  width: 1200px;
  height: 600px;
}
</style>
<% end %>
<%= heading_block 'VCF Viewer' do %>
  <h5>File: <%= @vcf.name%></h5>
  <div ng-app="app">
    <div ng-controller="MainCtrl">
      <p id='var_num'>
        <font size='4'>Variants: {{count}}</font size>
        <a id='pedia_var_str' title='{{pediaVar}}'>&#9432;</a>
      </p>
		  <button id="load_button" type="button" ng-click="loadMore()" class="btn btn-sm btn-success">
        Load all variants
		  </button>
      <a title='Please note, it might takes a while to load all variants!'>&#9432;</a>
      <br>
      <br>
      <div id="grid1" ui-grid="gridOptions" class="grid">
        <div class="well grid-loading" ng-show="grid.rows.length == 0">
          <i class="fa fa-spin fa-spinner"></i>
          <strong>Data Loading...</strong>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <%= link_to 'Back', :back %>
  <br>
  <br>
<% end %>
