<h1>Groups</h1>
<table class='table'>
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td>
			<% for user in group.users %>
				<li> 
					<%= [user.first_name,user.last_name].join(' ') %> 
				</li> 
			<% end %>
		</td>
		<td><%= link_to 'Show', group %></td>
		<td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
	<% end %>
  </tbody>
</table>


<%= paginate @groups %>
<br>
<%= link_to 'New Group', new_group_path %>
