<p id="notice"><%= notice %></p>

<h1>Disorders</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Disorder</th>
      <th>Disorder name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disorders.each do |disorder| %>
      <tr>
        <td><%= disorder.disorder_id %></td>
        <td><%= disorder.disorder_name %></td>
        <td><%= disorder.description %></td>
        <td><%= link_to 'Show', disorder %></td>
        <td><%= link_to 'Edit', edit_disorder_path(disorder) %></td>
        <td><%= link_to 'Destroy', disorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disorder', new_disorder_path %>
