<!DOCTYPE html>
<html>
  <body>
    <h1>Consent form</h1>
    <h3>PEDIA</h3>
    <p><b>Prioritization of Exome Data by Image Analysis</b></p>

    <p>Participants of <a href="https://translate-namse.charite.de/" target="_blank">Translate NAMSE</a> can now join PEDIA:</p>

    <p>German:</p>
    <p><a href="https://uni-bonn.sciebo.de/s/QJSAcaLfwm5bOEu" target="_blank"><%= image_tag("sharp-attachment-24px.svg") %> Teilnehmerinformation</a> (Erwachsene)</p>
    <p><a href="https://uni-bonn.sciebo.de/s/mPa4dqCfYLUxJKA" target="_blank"><%= image_tag("sharp-attachment-24px.svg") %> Teilnehmerinformation</a> (Kinder)</p>
    <p><a href="https://uni-bonn.sciebo.de/s/S4jDyPBit04Fonp" target="_blank"><%= image_tag("sharp-attachment-24px.svg") %> Einwilligungserklärung</a></p>

    <p>If you are a patient and are interested in participating, please contact your closest <a href="https://translate-namse.charite.de/netzwerk/" target="_blank">ZSE</a>.</p>
    <p>English:</p>
    <p><a href="https://uni-bonn.sciebo.de/s/w1ADGnFgizi0PJf" target="_blank"><%= image_tag("sharp-attachment-24px.svg") %> study information</a></p>
    <p><a href="https://uni-bonn.sciebo.de/s/ZPFdy4WjEtM1UmQ" target="_blank"><%= image_tag("sharp-attachment-24px.svg") %> consent form</a></p>

    <h3>Translate NAMSE</h3>

    <p><a href="https://uni-bonn.sciebo.de/s/XDpreZTdy708LEq" target="_blank"><%= image_tag("sharp-attachment-24px.svg") %> Einwilligung Sorgeberechtigte</a></p>
    <p><a href="https://uni-bonn.sciebo.de/s/y2Vu2K8y5loXyE2" target="_blank"><%= image_tag("sharp-attachment-24px.svg") %> Einwilligung TRANSLATE NAMSE</a></p>
    <p><a href="https://uni-bonn.sciebo.de/s/yHWhy0KGatQgBwg" target="_blank"><%= image_tag("sharp-attachment-24px.svg") %> Patienteninformation Translate Namse</a></p>
    <p><a href="https://uni-bonn.sciebo.de/s/iNjYivQ9FZRpmvW" target="_blank"><%= image_tag("sharp-attachment-24px.svg") %> PI+PE Kind</a></p>

  </body>
</html>
