<h1>Patients</h1>
<%= link_to "All Patients", :action => "index" %>
|
<%= link_to "Patients with result", :action => "index", :result => "true" %>
<table class='table'>
  <thead>
    <tr>
      <th>Case</th>
      <th>Submitter</th>
      <th>Disorder</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>

      <% @diagnosed_disorders = patient.get_selected_disorders %>
      <% @diagnosed = @diagnosed_disorders.take %>
      <tr>
        <td><%= patient.case_id %></td>
        <td><%= [patient.submitter.title, patient.submitter.first_name, patient.submitter.last_name].join(' ') %></td>
        <% if @diagnosed.nil? %>
          <td> </td>
        <% else %>
          <td><%= @diagnosed.disorder.disorder_name %></td>
        <% end %>
        <td><%= patient.result ? "Yes" : "No"  %></td>
        <td><%= link_to 'Show', patient %></td>
        <% if not @demo %>
          <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
          <td><%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<%= paginate @patients %>
<br>
<% if not @demo %>
  <%= link_to 'New Patient', new_patient_path %>
<% end %>
