<p id="notice"><%= notice %></p>
<head>
  <style>
    .borderless tr, .borderless td, .borderless th {
      border: none !important;
    }
  </style>
</head>

<p>
  <strong>Case:</strong>
  <%= @patient.case_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @patient.first_name %>, <%= @patient.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Submitter:</strong>
  <%= @patient.submitter.name %>
</p>
<% if false %>
<p>
  <strong>Phenotypic diagnosed disorders:</strong>
  <br>
  <table class='table borderless'>
    <thead>
      <tr>
        <th>OMIM</th>
        <th>Disorder</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @diagnosed_disorders.each do |disorder| %>
        <tr>
          <td><%= disorder.disorder.disorder_id %></td>
          <td><%= disorder.disorder.disorder_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
<% end %>

<p>
  <strong>Features:</strong>
  <br>
  <table class='table borderless'>
    <thead>
      <tr>
        <th>HPO</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <% @patient.features.each do |feature| %>
      <tr>
        <td><%= feature.hpo_term %></td>
        <td><%= feature.description %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</p>
<p>
<%= link_to '<button type="button" class="btn btn-dark">VCF Viewer</button>'.html_safe, @patient.vcf_files.first %>
</p>
<p>
  <strong>Predicted gene:</strong>
  <br>
  <% @gene.each_with_index do |g, index| %>
    <%= index + 1 %>. Gene: <strong><%= g.gene.name %></strong><br>
      Gene ID: <%= g.gene.entrez_id %><br>
      PEDIA score: <%= g.pedia_score %><br>
    <br>
  <% end %>
</p>
<p>
  <strong>Detected disorders:</strong>
  <br>
  <% @detected_disorders.each do |disorder| %>
    disorder: <strong><%= disorder.disorder.disorder_name %></strong>
    <br>
    omim: <%= disorder.disorder.disorder_id %>
    <br>
    <% disorder.disorders_phenotype_scores.each do |score| %>
      <% if score.score.name == 'pedia_score'%>
        <strong><%= score.score.name %>:
        <%= score.value %></strong>
        <br>
      <% elsif score.score.name != 'combined_score' %>
        <%= score.score.name %>:
        <%= score.value %>
        <br>
      <% end %>
    <% end %>
    <br>
  <% end %>
</p>
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
