<p id="notice"><%= notice %></p>

<p>
  <strong>Case:</strong>
  <%= @patient.case_id %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Submitter:</strong>
  <%= @patient.submitter.name %>
</p>

<p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
