<h1>Search</h1>

<%= form_tag(searches_path, :method => "get", id: "search-form") do %>
  <% if @search_list.nil? %>
    <div id='search_form' style="margin-bottom: 10px;">
      <%= render partial: "form" , :locals => {:search_item => '', :search_type => 3}%>
    </div>
  <% else%>
    <% @search_list.zip(@search_type_list) do |search_item, search_type|%>
      <div id='search_form' style="margin-bottom: 10px;">
        <%= render partial: "form", :locals => {:search_item => search_item, :search_type => search_type} %>
      </div>
    <% end %>
  <% end %>
  <br>
  <button type='button' id="add-search" class="btn btn-dark">Add</button>
  <button type="submit" class="btn btn-dark">Search</button>
<% end %>
<br>

<h2>Search results<h2>
    <% if !params[:search].nil? %>
      <h4>There are <%= @searches.length %> patients containing the term 
        <% @search_list.zip(@search_type_list) do |search_item, search_type| %>
          <%= SearchType.find(search_type).type_name %> <%= search_item %>
        <% end %>
        .</h4>
        
      <% @searches.each do |search| %>
        <p>
        <b>Case id:</b><%= search.case_id%><br>
        <b>HPO:</b> 
        <% search.features.each do |feature| %>
          <%= feature.hpo_term%>
        <% end %>
        <br>
        <b>Disorder:</b>
        <% search.get_selected_disorders.each do |disorder|%>
          <tr>
            <td><%= disorder.disorder.omim_id %></td>
            <td><%= disorder.disorder.disorder_name %></td>
          </tr>
        <% end %>
        <br>
        <b><%= link_to 'Show case', search %></b>
        <br><br>
        </p>
      <% end %>
    <% end %>
