<p id="notice"><%= notice %></p>

<p>
  <strong>Hpo term:</strong>
  <%= @feature.hpo_term %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feature.description %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
