<!DOCTYPE html>
<html>
  <head>
    <title>DPDL</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="/assets/Einzel_blue.png">
    <%= yield :head %>
  </head>

  <body>
  <%= include_gon %>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-static-top">
    <div class="container">
      <a class="navbar-brand" href="/">DPDL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/searches">Search</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/patients">Patients</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/about">Team</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
          </li>
		  <li class="nav-item">
          <a class="nav-link" href="/imprints">Imprint</a>
          </li>
		   <li class="nav-item">
          <a class="nav-link" href="/privacies">Privacy</a>
          </li>
		  <% if current_user.try(:admin?) %>
		    <li class="dropdown">
              <a class="nav-link" href="/groups">Group</a>
		    </li>
		  <% end %>
        </ul>

        <p class="navbar-text">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        </p>
      </div>
    </div>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
    <%= content_for :render_async %>
  </body>
</html>
